<div class="row">
  <h3>Edit</h3>
  <% current_user.lists.each_with_index do |list, index| %>
    <div class="pb-1">
      <%= react_component("lists/ListButtons", { list: list, csrf: form_authenticity_token }) %>
    </div>
  <% end %>
</div>