<div class="row">
  <h3>Lists</h3>
  <div class="list-group" id="list-tab" role="tablist">
    <% current_user.lists.each_with_index do |list, index| %>
      <%= list_item(list, index == 0) %>
    <% end %>
  </div>
</div>

<div class="row pt-4">
  <h3>Items</h3>
</div>