<div class="row">
  <div class="col-4">
    <h3>Lists</h3>
    <div class="list-group" id="list-tab" role="tablist">
      <% current_user.lists.each_with_index do |list, index| %>
        <%= list_item(list, index == 0) %>
      <% end %>
    </div>
  </div>

  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <% current_user.lists.each_with_index do |list, index| %>
        <%= tag.div class: "shopping-list tab-pane fade show #{index == 0 ? 'active' : ''}", id: "list-#{list.id}" do %>
          <h3>Items <%= link_to image_tag("edit_icon.png", width: 16), edit_list_path(list), class: "edit-list", id: "edit-list-#{list.id}" %></h3>
          <%= react_component("items/Table", { items: list.items, csrf: form_authenticity_token }) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>