<div class="row">
  <div class="col-4">
    <h3>Lists</h3>
    <div class="list-group" id="list-tab" role="tablist">
      <% current_user.lists.each_with_index do |list, index| %>
        <%= list_item(list, index == 0) %>
      <% end %>
    </div>
  </div>

  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <% current_user.lists.each_with_index do |list, index| %>
        <%= render "lists/items_table", list: list, index: index %>
      <% end %>
    </div>
  </div>
</div>