<% flash.each do |type, msg| %>
  <div class="alert alert-info my-3">
      <%= msg %>
  </div>
<% end %>

<div class="row mt-3">
  <h1>Options</h1>
<div>

<div class="row mt-3">
  <%= react_component("options/Options",
    {
      user: current_user,
      csrf: form_authenticity_token
    })
  %>
</div>